<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgnzCn2OyiTzFK4RSo9vZuzlFDQHbw4zk</string>
	<key>GCM_SENDER_ID</key>
	<string>418435178590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Unity-Technologies.com.unity.template.urp-blank</string>
	<key>PROJECT_ID</key>
	<string>togedaeng</string>
	<key>STORAGE_BUCKET</key>
	<string>togedaeng.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418435178590:ios:2924b37b6da225b96614cf</string>
</dict>
</plist>